@page
@model SignageLivePlayerFrontEnd.Pages.Account.LoginModel
@{
    <div style="margin: 20px auto; width: 300px">
        <h1 style="text-align: center">Login</h1>      
        <form method="post" asp-page-handler="OnPostAsync">
            <div class="form-group">
                <label asp-for="Credentials.UserName">Email:</label>
                <br />
                <input type="email" class="form-control" id="username"
                    placeholder="Enter email" name="username" asp-for="Credentials.UserName" />
                <span asp-validation-for="Credentials.UserName" class="text-danger"></span>
           </div>
           <br/>
           <div class="form-group">
            <label asp-for="Credentials.Password">Password:</label>
            <br />
            <input type="password" class="form-control" id="password" name="password" asp-for="Credentials.Password"
                placeholder="Password"/>
            <span asp-validation-for="Credentials.Password" class="text-danger"></span>
          </div>
          <br/>
          <div class="col-2">
                <input type="checkbox" class="form-check-input" asp-for="@Model.RememberMe" />
                <label class="form-check-label" asp-for="@Model.RememberMe"></label>
          </div>
          <br/>
          <button class="btn btn-primary" type="submit" style="width: 300px">Login</button>
       </form>
    </div>
}
