@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.UserName</h1>
    <p>To SignageLive's Content Management System.</p>
</div>
